body{
    background-image: url("acs/sortter-MqB2mm7Euyc-unsplash.jpg");
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    box-sizing: border-box;
    /* min-height: 100vh; */
    background-attachment: fixed;
}
a.nostyle{
    color:inherit;
    text-decoration: none;
}
.portfolio{
    position: relative;
    height: 450px;
    width: 400px;
    background: rgb(215, 213, 213);
    border:1px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 10% auto;
    box-shadow: 0px -1px 3px , 0px 2px 6px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    overflow: hidden;
    z-index: 100;
   
}
li{
    list-style: none;
    height: 25px;
    width: 180px;
    line-height: 25px;
    font-weight: 300;
    font-size: 15px;
    padding: 5px 0px;
    background-size: 18px 18px;
    border-bottom: 1px solid rgb(215, 213, 213);
}
.cover{
    width: 100%;
    height: 120px;
    background: url("/acs/head.jpg");
    background-position: center center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid  rgb(0, 0, 0);
}
.left_col , .right_col{
    float: left;
    height: 340px;
}
.left_col{
  width: 40%;
  padding-top: 90px;
}
.right_col{
    width: 60%;
    background: rgba(245, 245, 245, 1);
    border-left: 1px solid rgba(230, 230, 230, 1);
    margin-left: -1px;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.7);
}
.profile{
    width: 110px;
    height: 110px;
    background: snow;
    position: absolute; 
    left: 40px;
    top: 65px;
    border-radius: 100%;
    background-size: 100% 100%;
    background-image: url("/acs/arefeh.jpg");
    padding: 5px;
    border: 1px solid snow;
    cursor: pointer;
    transition: transform 0.3s;
}
.profile:hover {
    transform: scale(1.1);
}

.name{
    font-size: 30px;
    font-weight: 300;
    color: rgba(30, 30, 30, 1);
    margin: 20px 10px 0px 30px;
}
.location{
    font-size: 15px;
    font-weight: 300;
    color: rgb(99, 101, 101);
    margin: -5px 10px 10px 30px;
}
.contact{
    margin-top: 20px;
    padding-left: 30px;
}
.fllowers , .fllowing{
    margin: 15px 0px 0px 35px;
    font-weight: 300;
    font-size: 16px;
    color: rgb(55, 55, 55);
}
.fllows_count{
    font-weight: 400;
    font-size: 25px;
    color: rgba(30, 30, 31,1);
}
.fllowers_count{
    font-weight: 400;
    font-size: 25px;
    color: rgba(30, 30, 31,1);
}